<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>ExpenseMgtServlet</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnterExpense</display-name>
    <servlet-name>EnterExpense</servlet-name>
    <servlet-class>EnterExpense</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterExpense</servlet-name>
    <url-pattern>/EnterExpense</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MonthlyExpense</display-name>
    <servlet-name>MonthlyExpense</servlet-name>
    <servlet-class>MonthlyExpense</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonthlyExpense</servlet-name>
    <url-pattern>/MonthlyExpense</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExpenseList</display-name>
    <servlet-name>ExpenseList</servlet-name>
    <servlet-class>ExpenseList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpenseList</servlet-name>
    <url-pattern>/ExpenseList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>YearlyExpense</display-name>
    <servlet-name>YearlyExpense</servlet-name>
    <servlet-class>YearlyExpense</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YearlyExpense</servlet-name>
    <url-pattern>/YearlyExpense</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryExpense</display-name>
    <servlet-name>CategoryExpense</servlet-name>
    <servlet-class>CategoryExpense</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryExpense</servlet-name>
    <url-pattern>/CategoryExpense</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnterMonthly</display-name>
    <servlet-name>EnterMonthly</servlet-name>
    <servlet-class>EnterMonthly</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterMonthly</servlet-name>
    <url-pattern>/EnterMonthly</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>